<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Test Case List</title>
        <meta name="robots" content="NONE,NOARCHIVE" />
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Script</th>
            </tr>
            <!--
            You will need to handle this in a special way to print all test cases.
            Said code, however, does NOT go in the controller or model. You can create a template-
            handling lib/module (e.g. Template::Manager) and put that logic there. Good luck :)
            -->
            {% loop %}
            <tr>
                <td>{% tc.id %}</td>
				<td>{% tc.name %}</td>
                <td>{% tc.script %}</td>
            </tr>
            {% endloop %}
        </table>
    </body>
</html>
