<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	    <title>Test Case {% tc.id %} (Nice)</title>
	    <meta name="robots" content="NONE,NOARCHIVE" />
	</head>

	<body>
	    <fieldset>
	        <legend>Test Case {% tc.id %}</legend>
	        <table>
		        <tr>
		            <td>
		                <table style="width:100%;">
		                    <tr>
		                        <td>Name:</td>
		                        <td>
		                            <input readonly value="{% tc.name %}"></input>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td>Description:</td>
		                        <td>
		                            <textarea rows="3" cols="30" readonly>{% tc.desc %}</textarea>
		                        </td>
		                    </tr>
		                    <tr>
	                            <td>Script:</td>
	                            <td>
	                                <input readonly value="{% tc.script %}"></input>
	                            </td>
	                        </tr>
		                </table>
		            </td>
		        </tr>
	        </table>   
	    </fieldset>
	</body>
</html>
