<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	    <title>Test Case {% tc.id %}  (Simple)</title>
	    <meta name="robots" content="NONE,NOARCHIVE" />
	</head>
	
	<body>
	    <h1>Test Case {% tc.id %}</h1>
	    <label>Name:</label> {% tc.name %} <br/>
	    <label>Desc:</label> {% tc.desc %} <br/>
	    <label>Script:</label> {% tc.script %} <br/>
	</body>
</html>
